digitalOcean_token = "your_digitalOcean_token"

sshKey_name = "TerraformKey"
sshKey_file = "id_rsa.pub" # ONLY CHANGE THIS IF YOU ARE USING A DIFFERENT DIRECTORY FOR YOUR KEY. THIS USES THE CURRENT DIRECTORY BY DEFAULT

droplet_name = "TerraformDroplet"
droplet_image = "ubuntu-20-04-x64" # API Documentation for images: https://docs.digitalocean.com/reference/api/api-reference/#operation/get_images_list
droplet_region = "nyc3" # API Documentation for regions: https://docs.digitalocean.com/reference/api/api-reference/#tag/Regions
droplet_size = "s-1vcpu-1gb" # API Documentation for sizes: https://docs.digitalocean.com/reference/api/api-reference/#tag/Sizes
droplet_monitor = true