linode_token = "yourLinodeToken"

# Instance settings
lke_cluster_label = "terraformInstance"
lke_kubernetes_version = "1.21" # Format of major.minor
lke_cluster_region = "us-east" # https://api.linode.com/v4/regions
lke_cluster_tags = ["terraform"]
lke_pool_type = "g6-nanode-1" # https://api.linode.com/v4/linode/types
lke_pool_count = 3