pm_api_url = "https://yourProxmox.server:8006/api2/json"
pm_api_token_id = "full-tokenid"
pm_api_token_secret = "tokenValue"
pm_target_node = "nameOfYourNode"
pm_clone_name = "vmToClone"
pm_disk_storage = "storageToStoreVm"
linux_user = "yourLinuxUsername"
linux_password = "yourLinuxPassword"

linux_sshKeys = <<EOF
ssh-rsa AABB3NzaC1kj...key1
ssh-rsa AABB3NzaC1kj...key2
EOF

linux_sshPrivKey = <<EOF
-----BEGIN OPENSSH PRIVATE KEY-----
EOF
