cloudflare_email = "YourEmail"
cloudflare_api_key = "YourAPIKey"

cloudflare_zone_id = "YourCloudflareZoneID"

record_names = [
    "terraform1",
    "terraform2",
    "terraform3"
]
record_values = [
    "8.8.8.8",
    "8.8.8.8",
    "8.8.4.4"
]
record_type = "A"
record_ttl = 1
proxied = false