# API variables

auth_server = "https://oauth2.conrad.cafe"
spotify_api_key = "your_api_key"
username = "your_oauth_username"
token_id = "your_token_id"


# Playlist variables

playlist_name = "your_playlist_name"
playlist_description = "your_playlist_description"
artist_list = ["Artist 1", "Artist 2"]
search_terms = ["Search Term 1", "Search Term 2"]
artist_search_limit = 10
terms_search_limit = 10
use_explicit = false
make_public = true