discord_token = "YourDiscordApiToken"

server_name = "Mr. Terraform"
server_region = "us-east"
server_icon_file = "terraformLogoDark.png"

category_name = "General"

text_channels = ["general", "text channel 1"]

create_voice_channels = false
voice_channels = ["voice-channel-1", "voice-channel-1"]