linode_token = "yourLinodeToken"

# Instance settings
linode_instance_label = "terraformInstance"
linode_instance_image = "linode/ubuntu22.04" # https://api.linode.com/v4/images
linode_instance_region = "us-east" # https://api.linode.com/v4/regions
linode_instance_type = "g6-nanode-1" # https://api.linode.com/v4/linode/types
linode_instance_ssh_keys = [
    "ssh-rsa Key1AAAA...Gw== user@example.local",
    "ssh-rsa Key2BBBB...Gw== user2@example.local"
]
linode_instance_root_pass = "yourRootPassHere"

# Minecraft settings
minecraft_server_url = "https://launcher.mojang.com/v1/objects/c8f83c5655308435b3dcf03c06d9fe8740a77469/server.jar" # From https://www.minecraft.net/en-us/download/server