tf_cloud_organization = "your-tf-cloud-organization-name"
tf_cloud_workspace = "your-tf-cloud-workspace-name"
tf_cloud_token = "your-tf-cloud-token-value"

tunnel_setup_local = false  # Set to true to setup local tunnel
tunnel_setup_type = "ec2"  # Must be valid selection of "ec2", "azure", "proxmoxVm" or "proxmoxCt"