# Cloudflare
cf_tunnel_name = ""
cf_api_token = ""
cf_account_id = ""

# Proxmox
pm_api_url = ""
pm_token_id = ""
pm_token_secret = ""
pm_target_node = ""
pm_ct_username = ""

pm_ct_pubKey = <<EOT
ssh-rsa <public key 1> user@server
ssh-rsa <public key 2> user@server
EOT

pm_ct_privKey = <<EOT
-----BEGIN OPENSSH PRIVATE KEY-----
private
key
file
contents
-----END OPENSSH PRIVATE KEY-----
EOT

pm_img_storage_location = "" #Defaults to local
pm_img_name = "" #Defaults to ubuntu-22.04-standard_22.04-1_amd64.tar.zst
pm_ct_location = ""