tunnel_ip_address = "192.168.0.10"  # IP address of tunnel server
tunnel_username = "yourUsername"
tunnel_privKey = <<EOT
-----BEGIN OPENSSH PRIVATE KEY-----
private
key
file
contents
-----END OPENSSH PRIVATE KEY-----
EOT

cf_tunnel_name = ""
cf_api_token = ""
cf_account_id = ""