discord_token = "YourDiscordApiToken"

server_name = "NewServerName"

server_region = "us-east"  # Region to host in (Brazil | Europe | Hong Kong | India | Rapan | Russia | Singapore | South Africa | Sydney | US (Central | East | South | West))

server_icon_file = "terraformLogo.png"

category_name = "NewCategoryName"

text_channel_name = "NewTextChannelName"

message_text = "Hello World"
# OR
#message_text = <<EOF
#Multi
#Line
#Text
#EOF
#

pin_message = false  # Would you like to pin the message? (true | false)